
---
---

@import "{{ site.theme }}";

 // @import "bkg";
 .page-header {
    background-image: url("{{ site.baseurl }}{{ site.header.image }}");
    background-size: cover;
}

#imgbkg {
    background-image: url("{{ site.baseurl }}{{ site.header.image }}");
    background-size: cover;
}